<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
    <dict>
      <key>UIApplicationShortcutItemIconType</key>
      <string>UIApplicationShortcutIconTypeHome</string>
      <key>UIApplicationShortcutItemTitle</key>
      <string>storiesTitleTouch</string>
      <key>UIApplicationShortcutItemSubtitle</key>
      <string>storiesSubtitleTouch</string>
      <key>UIApplicationShortcutItemType</key>
      <string>com.RamonGilabert.Stories-stories-shortcut</string>
    </dict>
    <dict>
      <key>UIApplicationShortcutItemIconType</key>
      <string>UIApplicationShortcutIconTypeMessage</string>
      <key>UIApplicationShortcutItemTitle</key>
      <string>storyTitleTouch</string>
      <key>UIApplicationShortcutItemSubtitle</key>
      <string>storySubtitleTouch</string>
      <key>UIApplicationShortcutItemType</key>
      <string>com.RamonGilabert.Stories-story-shortcut</string>
    </dict>
    <dict>
      <key>UIApplicationShortcutItemIconType</key>
      <string>UIApplicationShortcutIconTypeTime</string>
      <key>UIApplicationShortcutItemTitle</key>
      <string>motivationTitleTouch</string>
      <key>UIApplicationShortcutItemSubtitle</key>
      <string>motivationSubtitleTouch</string>
      <key>UIApplicationShortcutItemType</key>
      <string>com.RamonGilabert.Stories-motivation-shortcut</string>
    </dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>menuTitleTouch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>menuSubtitleTouch</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.RamonGilabert.Stories-menu-shortcut</string>
		</dict>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Monaco.ttf</string>
		<string>Brandon_bld.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
